.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 10px;
    cursor: pointer;
}

.menu li:hover {
    background-color: #f0f0f0;
}

.profile-dropdown {
    list-style: none;
    padding: 0;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-top: 10px;
}

.profile-dropdown li {
    padding: 10px;
    cursor: pointer;
}

.profile-dropdown li:hover {
    background-color: #ccc;
}
