/* Style for each movie tile */
.movie-tiles {
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-tiles:hover {
    transform: scale(1.05);
}

.movie-tiles img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.movie-tiles:hover img {
    transform: scale(1.02);
}

.swiper-slide {
    margin: 15px;
}
